.flight {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0 20px 12px;
  border-bottom: 1px solid rgba(#878787, 0.2);

  &:first-child {
    border-top: none;
  }

  &__pic {
    width: 64px;
    height: 64px;
    background-color: rgba(#0077FF, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 24px;

    svg {
      width: 36px;
      height: 36px;
    }
  }

  &__description {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
  }

  &__info-row {
    color: #878787;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    font-weight: normal;

    &.--places {
      color: #424242;
      font-weight: 300;
      font-size: 17px;
    }
  }

  &__place-from-name {
    padding-right: 36px;
  }

  &__price-block {
    align-self: flex-start;
  }

  &__like {
    color: #878787;
    cursor: pointer;
    display: flex;
    margin-bottom: 20px;

    &.--liked {
      svg {
        fill: #F04393;
        stroke: none;
      }
    }

    svg {
      margin-left: auto;
      width: 21px;
      height: 18px;
      transition: 0.2s all;
      fill: white;
      stroke: #878787;
    }
  }

  &__price {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #424242;

    span {
      font-weight: 300;
      font-size: 11px;
      color: #878787;
    }
  }
}
