.flights-list {
  overflow-y: scroll;
  max-height: 580px;
  padding-right: 11px;

  &::-webkit-scrollbar {
    width: 2px;
    color: #1157A7;
    background-color: #1157A7;
  }

  &::-webkit-scrollbar-track {
    background: #E7E7E7;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #1157A7;
  }
}